<div class="container slideup" ng-controller="hotelListController">
    <div class="pageHeader">
        <div class="row">
            <div class="col-md-1">
                <div class="backbutton"><a ng-click='back()'>Back</a></div>
            </div>
            <div class="col-md-10">
                <div class="reslutHeader">
                    Results as {{staticData}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="hotel in hotels">
            <div class="hotelDetails">
                <div class="image-placeholder">
                    <img class="img-responsive" src="{{hotel.image}}" imageonload />
                    <div class="image-rank-holder"><span>#{{$index + 1}}</span></div>
                </div>
                <div class="hotel-name">{{hotel.name}}</div>
                <div class="hotel-Address">{{hotel.address.country + "," + hotel.address.street}}</div>
                <div class="hotel-attribute">
                    <div class="hotel-attribute-percentage">
                        <div class="percentage-circle" >{{hotel.sentiment_percent}}%</div>
                    </div>
                    <div class="hotel-attribute-summary">{{hotel.attribute_summary}}</div>
                </div>
                <div class="hotel-buttons">
                    <div class="hotel-view-details">
                        <a href="#/viewDetails/{{hotel.hotel_id}}/{{hotel.city}}">View details</a>
                    </div>
                    <div class="hotel-book">
                        <a href="#/">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
